
body {
  margin: 0;
  padding: 0;
  background-color: white;
}
.container5 {
  background-color: white
  
}
h1 {
  font-family: sans-serif;
}

h3{
  font-size: 30pt;
}
.header {
  background-color: teal;
  height: 100px;
  text-align: center;
  padding: 1px;
}

.col-md-3

.container{
  width: 800px;
  margin: 50px auto 0;
  display: table;
  box-sizing: border-box;
}
.row{
  margin: 10px 0;
}
.column{
  background: white;
  width: 30px
  padding: 10px;
  text-align: center;

}

#fantasy, #mystery, #biography {
  display: none;
};
